<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeConfig</key>
	<dict>
		<key>themeName</key>
		<string>clover_green</string>
		<key>headerBarColour</key>
		<string>0x3C9A0E</string>
		<key>headerTextColour</key>
		<string>0xFFFFFF</string>
		<key>textHighlightColour</key>
		<string>0x3C9A0E</string>
		<key>highlightedTextColour</key>
		<string>0xFFFFFF</string>
		<key>premium</key>
		<true/>
	</dict>
</dict>
</plist>
