<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>themeConfig</key>
	<dict>
		<key>themeName</key>
		<string>light</string>
		<key>headerBarColour</key>
		<string>0xF6F7F8</string>
		<key>headerTextColor</key>
		<string>0xFFFFFF</string>
		<key>textHighlightColour</key>
		<string>0xDC4B40</string>
		<key>highlightedTextColor</key>
		<string>0xFFFFFF</string>
		<key>premium</key>
		<false/>
	</dict>
</dict>
</plist>
