<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Available Themes</key>
	<dict>
		<key>default</key>
		<dict>
			<key>themeName</key>
			<string>default</string>
			<key>headerBarColour</key>
			<string>0xDC4B40</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0xDC4B40</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<false/>
		</dict>
		<key>dark</key>
		<dict>
			<key>themeName</key>
			<string>dark</string>
			<key>headerBarColour</key>
			<string>0x3E3C3D</string>
			<key>headerTextColor</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x3E3C3D</string>
			<key>highlightedtextColor</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<false/>
		</dict>
		<key>light</key>
		<dict>
			<key>themeName</key>
			<string>light</string>
			<key>headerBarColour</key>
			<string>0xF6F7F8</string>
			<key>headerTextColor</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0xDC4B40</string>
			<key>highlightedTextColor</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<false/>
		</dict>
		<key>tangerine_orange</key>
		<dict>
			<key>themeName</key>
			<string>tangerine_orange</string>
			<key>headerBarColour</key>
			<string>0xFD9002</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0xFD9002</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<false/>
		</dict>
		<key>sunflower_yellow</key>
		<dict>
			<key>themeName</key>
			<string>sunflower_yellow</string>
			<key>headerBarColour</key>
			<string>0xFBCB00</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0xFBCB00</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
		<key>clover_green</key>
		<dict>
			<key>themeName</key>
			<string>clover_green</string>
			<key>headerBarColour</key>
			<string>0x3C9A0E</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x3C9A0E</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
		<key>blueberry</key>
		<dict>
			<key>themeName</key>
			<string>blueberry</string>
			<key>headerBarColour</key>
			<string>0x336FE7</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x336FE7</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
		<key>sky_blue</key>
		<dict>
			<key>themeName</key>
			<string>sky_blue</string>
			<key>headerBarColour</key>
			<string>0x4EC2E6</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x4EC2E6</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
		<key>amethyst</key>
		<dict>
			<key>themeName</key>
			<string>amethyst</string>
			<key>headerBarColour</key>
			<string>0x8A21A8</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x8A21A8</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
		<key>graphite</key>
		<dict>
			<key>themeName</key>
			<string>graphite</string>
			<key>headerBarColour</key>
			<string>0x4E6678</string>
			<key>headerTextColour</key>
			<string>0xFFFFFF</string>
			<key>textHighlightColour</key>
			<string>0x4E6678</string>
			<key>highlightedTextColour</key>
			<string>0xFFFFFF</string>
			<key>premium</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
